doctype html
html
    head
        if pagetitle
            title= [pagetitle, 'cemderin.com'].join(' - ')
        else
            title cemderin.com
        link(rel="stylesheet" href=baseDir + "index.css" type="text/css")
        meta(name="description", content=description)
        meta(name='viewport', content='width=device-width, initial-scale=1')

        meta(property='og:locale' content='en_US')
        meta(property='og:type' content='site')

        if pagetitle
            meta(property='og:title' content=pagetitle)
        else
            meta(property='og:title' content='cemderin.com')

        meta(property='og:description' content=description)
        meta(property='og:url' content=url)
        meta(property='og:image' content=imageURL)
        meta(property='og:site_name' content='cemderin.com')
        
        |  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-149269569-1"></script>
        |  <script>
        |    window.dataLayer = window.dataLayer || [];
        |    function gtag(){dataLayer.push(arguments);}
        |    gtag('js', new Date());
        |    gtag('config', 'UA-149269569-1');
        |  </script>
 


    body
        include ../elements/header

        if(sidebar !== 'false')
            include ../elements/aside

        include ../elements/main

        include ../elements/footer

        script(src=baseDir + "index.js" type="text/javascript")
